<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfo.web.repository.CommentRepository">

    <select id="findPortfolioComments" resultType="PortfolioComment">
        SELECT
            c.id,
            c.portfolio_id,
            c.content,
            c.reg_date,
            mi.name AS member_image_name,
            m.nickname AS member_nickname
        FROM
            comment AS c
        LEFT JOIN
            member AS m
        ON
            c.member_id = m.id
        LEFT JOIN
            member_image AS mi
        ON
            m.id = mi.member_id
        WHERE
            c.portfolio_id = #{portfolioId}
        ORDER BY
            c.reg_date DESC
    </select>

    <insert id="insert" parameterType="com.portfo.web.entity.Comment">
        INSERT INTO
            comment
        VALUES (
            #{content},
            #{memberId},
            #{portfolioId}
        )
    </insert>

    <delete id="delete">
        DELETE FROM
            comment
        WHERE
            id = #{id}
    </delete>
</mapper>