<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfo.web.repository.ImageRepository">


	<insert id="insert" >
		insert into image(portfolio_id, name, orders)
		values(#{portfolioId}, #{imageName}, #{orders})
		
	</insert>

</mapper>