<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfo.web.repository.PortfolioDetailRepository">
    <resultMap id="portfolioDetailResultMap" type="PortfolioDetail">
        <result property="prjTypeName" column="prj_type_name"/>
        <result property="teamInfo" column="team_info"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="regDate" column="reg_date"/>
        <result property="modifiedDate" column="modified_date"/>
        <result property="deleteDate" column="delete_date"/>
    </resultMap>

    <select id="findPortfolioDetail" resultMap="portfolioDetailResultMap">
        SELECT
        p.id,
        type.name AS prj_type_name,
        p.title,
        p.description,
        p.team_info,
        p.epilogue,
        p.video,
        p.hit,
        p.delete_status,
        p.reg_date,
        p.modified_date,
        p.delete_date
        FROM portfolio AS p
        LEFT JOIN prj_type AS type
        ON p.prj_type_id = type.id
        WHERE p.id = #{id}
    </select>
</mapper>