<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfo.web.repository.SkillRepository">

	<select id="findSkillById" parameterType="Integer" resultType="String">
		select
			eng_name
		from
			skill
		where
			portfolio_id = ${id}
	</select>
	
	<insert id="insert" >
		insert into skill(portfolio_id, eng_name, kor_name)
		values(#{portfolioId}, #{engName}, #{korName})
		
	</insert>

</mapper>